<footer>
            <div class="row">
                <div class="col-lg-12">
                    <h5>Our Pages:</h5>
                    <p>
                        {{ render( controller( "NovaDemoSiteBundle:Footer:displayPages" )) }}
                    </p>
                </div>

                <div class="col-lg-12">
                    <p>
                        Copyright &copy; Nova TP
                    </p>
                </div>
            </div>
</footer>

