


        {{ knp_menu_render(menu, {'depth': 2, 'firstClass': false, 'lastClass': ''}) }}



    {% if submenu is defined %}
        <li>
                    {{ knp_menu_render(submenu, {'firstClass': 'firstli', 'lastClass': 'lastli', 'branch_class': 'nav'}) }}
        </li>
    {% endif %}